<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Inicio de Sesi칩n</title>
    <style>
        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            background-color: #f0f2f5;
            background-image: url("../Imagenes/fondo.png"); 
            background-size: cover; /* Esto asegura que la imagen de fondo cubra toda la p치gina */
            background-position: center; /* Centra la imagen de fondo */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        form {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 320px;
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
        }
        button:hover {
            background-color: #0056b3;
        }
        div {
            text-align: center;
            margin-top: 20px;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <form id="loginForm" action="/api/sessions/login" method="POST">
        <label for="email">Correo</label>
        <input type="text" name="email" placeholder="Ingrese el email">
        <label for="password">Contrase침a</label>
        <input type="password" name="password" placeholder="Ingrese la contrase침a">
        <button type="submit">Enviar</button>
        <div>
            <a href="/register">Registrarse</a> | <a href="/api/sessions/github">GITHUB</a>
        </div>
    </form>
</body>
</html>
