<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        form {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 100%;
            max-width: 400px;
        }

        label {
            display: block;
            margin-top: 20px;
            color: #333;
        }

        input[type="text"],
        input[type="password"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-top: 5px;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            width: 100%;
            padding: 10px;
            margin-top: 20px;
            border: none;
            border-radius: 4px;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <form action="/api/sessions/register" method="POST">
        <label for="first_name">Nombre</label>
        <input type="text" name="first_name" placeholder="Ingrese el Nombre">
        <label for="last_name">Apellido</label>
        <input type="text" name="last_name" placeholder="Ingrese el Apellido">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Ingrese el email">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Ingrese el password">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
